# Data Wrangling with Pandas

Data wrangling: the process of transforming raw data to a clean and organized format ready for use, a tidy data set where
- each variable is saved in its own column
- each observation is saved in its own row

[Machine Learning with Python Cookbook](http://shop.oreilly.com/product/0636920085423.do)  
*Practical Solutions from Preprocessing to Deep Learning*  
By Chris Albon  
Publisher: O'Reilly Media  
Release Date: March 2018  
Pages: 366

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [ ]:
url = 'https://tinyurl.com/titanic-csv'
dataframe = pd.read_csv(url)
# dataframe = pd.read_csv('titanic.csv', index_col=0)
dataframe.head(5

## Creating DataFrames

Create a new data frame.

Specify values for each column:

In [ ]:
df = pd.DataFrame({
    "a": [4 ,5, 6],
    "b": [7, 8, 9],
    "c": [10, 11, 12]},
    index=[1, 2, 3])
df

In [ ]:
df.values

In [ ]:
type(df.values)

Specify values for each row:

In [ ]:
df = pd.DataFrame([
    {'a': 4, 'b': 7, 'c': 10},
    {'a': 5, 'b': 8, 'c': 11},
    {'a': 6, 'b': 9, 'c': 12}],
    index=[1, 2, 3])
df

In [ ]:
df = pd.DataFrame([
    [4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])
df

Create DataFrame with a MultiIndex:

In [ ]:
df = pd.DataFrame({
    "a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index=pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
    names=['n','v']))
df

Create MultiIndex separately:

In [ ]:
df = pd.DataFrame({
    "a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]})
df

In [ ]:
index = pd.MultiIndex.from_tuples(
    [('d',1),('d',2),('e',2)],
    names=['n','v'])
index

In [ ]:
df.index = index
df

Create an empty data frame using DataFrame and then define each column separately:

In [ ]:
# Create DataFrame
df = pd.DataFrame()

# Add columns
df['Name'] = ['Jacky Jackson', 'Steven Stevenson']
df['Age'] = [38, 25]
df['Driver'] = [True, False]

# Show DataFrame
df

Append new rows to the bottom:

In [ ]:
# Create row
new_person = pd.Series(['Molly Mooney', 40, True], index=['Name','Age','Driver'])
new_person

In [ ]:
# Append row
df = df.append(new_person, ignore_index=True)
df

Append new columns:

In [ ]:
new_feature = pd.Series([56, 87, np.NaN], index=[0, 1, 2], name='weight')
new_feature

In [ ]:
pd.concat([df, new_feature], axis=1)

## UFuncs

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
np.exp(ser)

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

In [ ]:
np.sin(df * np.pi / 4)

In [ ]:
(df.A + df.B) / (df.C - df.D)

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
area

In [ ]:
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
population

In [ ]:
population / area

## Describing the Data

View some characteristics of a DataFrame.

In [ ]:
dataframe.head(2)

In [ ]:
dataframe.tail(2)

In [ ]:
dataframe.dtypes

In [ ]:
dataframe.count()

In [ ]:
dataframe.info()

In [ ]:
dataframe.shape

In [ ]:
dataframe.describe()

## Navigating DataFrames

Select individual data or slices of a DataFrame.

In [ ]:
# Select first row
dataframe.iloc[0]

In [ ]:
# Select first and last rows
dataframe.iloc[[0,-1]]

In [ ]:
# Select three rows
dataframe.iloc[1:4]

In [ ]:
# Select four rows
dataframe.iloc[:4]

In [ ]:
df = dataframe.set_index(dataframe['Name'])
df.head(2)

In [ ]:
df.loc['Allison, Mrs Hudson JC (Bessie Waldo Daniels)']

In [ ]:
df.loc['Allison, Miss Helen Loraine':'Allison, Mrs Hudson JC (Bessie Waldo Daniels)']

## Setting the index

In [ ]:
dataframe.head(2)

In [ ]:
df = dataframe.sample(frac=1.0, random_state=123)
df['idx'] = df.index
df.head(2)

In [ ]:
df = df.set_index('Name')
df.head(2)

In [ ]:
df = df.reset_index()
df.head(2)

In [ ]:
df = df.set_index('Name')
df.reset_index(drop=True).head(2)

In [ ]:
df = df.set_index('idx')
df.head(2)

In [ ]:
df.sort_index(inplace=True)
df.head(2)

## Sorting values

In [ ]:
dataframe.sort_values(by=['Age', 'Sex'], ascending=True).head()

## Selecting Rows Based on Conditionals

In [ ]:
dataframe[dataframe['Sex'] == 'female'].head(2)

In [ ]:
dataframe[(dataframe['Sex'] == 'female') & (dataframe['Age'] >= 65)]

In [ ]:
dataframe[dataframe.Name.str.contains('Thomas')].head(2)

In [ ]:
dataframe[dataframe.Name.str.startswith('Jo')].head(2)

## Replacing Values

In [ ]:
dataframe['Sex'].replace("female", "Woman").head(5)

In [ ]:
dataframe['Sex'].replace(["female", "male"], ["Woman", "Man"]).head(5)

## Modifying a dataframe

When inplace=True is passed, the data is renamed in place (it returns nothing), so you'd use:

```python
df.an_operation(inplace=True)
```

When inplace=False is passed (this is the default value, so isn't necessary), performs the operation and returns a copy of the object, so you'd use:

```python
df = df.an_operation(inplace=False)
```

In [ ]:
df = pd.DataFrame([[1,2],[10,20],[10,2],[1,40]], columns=['a','b'])
df

In [ ]:
df[df.a == 1]

In [ ]:
df[df.a == 1].b = 4

In [ ]:
df

In [ ]:
df.loc[df.a == 1, 'b'] = 4
df

## Copying a dataframe

In [ ]:
df_copy = df
df.loc[df.a == 1, 'b'] = 0
df_copy

In [ ]:
df_copy = df.copy(deep=False)
df.loc[df.a == 1, 'b'] = 4
df_copy

In [ ]:
df.loc[df.a == 1, 'b'] = 0
df_copy = df.copy(deep=True)
df.loc[df.a == 1, 'b'] = 4
df_copy

## Renaming Columns

In [ ]:
dataframe.columns

In [ ]:
dataframe.rename(columns={'PClass': 'Passenger Class', 'Sex': 'Gender'}, inplace=True)
dataframe.head(2)

In [ ]:
dataframe.columns = ['Name', 'PClass', 'Age', 'Sex', 'Survived', 'SexCode']
dataframe.head(2)

## Finding the Minimum, Maximum, Sum, Average, Count...

In [ ]:
print('Maximum:', dataframe['Age'].max())
print('Minimum:', dataframe['Age'].min())
print('Mean:', dataframe['Age'].mean())
print('Median:', dataframe['Age'].median())
print('quantile(0.25, 0.5, 0.75):') 
print(dataframe['Age'].quantile([0.25, 0.5, 0.75]))
print('Standard deviation:', dataframe['Age'].std())
print('Sum:', dataframe['Survived'].sum())
print('Count:', dataframe['Age'].count())

In [ ]:
dataframe[['Age', 'Survived', 'SexCode']].mean(axis=0)

## Finding Unique Values

In [ ]:
dataframe['Sex'].nunique()

In [ ]:
dataframe['Sex'].unique()

In [ ]:
dataframe.Sex.value_counts()

In [ ]:
dataframe.PClass.unique()

In [ ]:
dataframe.PClass.value_counts()

In [ ]:
dataframe[dataframe.PClass == '*']

## Handling Missing Values

In [ ]:
dataframe[dataframe['Age'].isnull()].head(2)

In [ ]:
dataframe['Age'].mean()

In [ ]:
dataframe.loc[dataframe['Age'].isnull(), 'Age'] = -999

In [ ]:
dataframe.loc[12]

In [ ]:
dataframe['Age_mask'] = dataframe.Age != -999
dataframe.Age_mask.head()

In [ ]:
dataframe.Age.mean()

In [ ]:
dataframe[dataframe.Age_mask].Age.mean()

In [ ]:
dataframe.loc[~dataframe.Age_mask, 'Age'] = np.NaN
dataframe.drop('Age_mask', axis=1, inplace=True)

In [ ]:
dataframe.isna().any(axis=1).sum()

In [ ]:
print(len(dataframe))
print(len(dataframe.dropna()))
print(len(dataframe.fillna(-1)))

## Deleting a Column

In [ ]:
dataframe.drop('Age', axis=1).head(2)

In [ ]:
dataframe.drop(['Age', 'Sex'], axis=1).head(2)

In [ ]:
dataframe.drop(dataframe.columns[1], axis=1).head(2)

Either create a new dataframe or mutate the old one with `inplace=True`:

In [ ]:
dataframe_name_dropped = dataframe.drop(dataframe.columns[0], axis=1)
dataframe_name_dropped.head()

In [ ]:
dataframe['toto'] = 0.
dataframe.head(2)

In [ ]:
dataframe.drop('toto', axis=1, inplace=True)
dataframe.head(2)

## Deleting a Row

In [ ]:
dataframe.drop(0, axis=0).head(2)

In [ ]:
dataframe[dataframe.index != 0].head(2)

In [ ]:
dataframe[dataframe.Name != 'Allen, Miss Elisabeth Walton'].head(2)

In [ ]:
dataframe[dataframe['Sex'] != 'male'].head(2)

## Dropping Duplicate Rows

In [ ]:
dataframe.drop_duplicates().head(2)

In [ ]:
dataframe.duplicated().head(2)

In [ ]:
dataframe.duplicated().any()

In [ ]:
print("Number Of Rows In The Original DataFrame:", len(dataframe))
print("Number Of Rows After Deduping:", len(dataframe.drop_duplicates()))

In [ ]:
dataframe.drop_duplicates(subset=['Sex'], keep='last')

## Clipping values

In [ ]:
dataframe.Age.max()

In [ ]:
len(dataframe[dataframe.Age >= 60])

In [ ]:
df = dataframe.Age.clip(upper=60)

In [ ]:
len(df[df == 60.])

In [ ]:
df.max()

## Resampling

In [ ]:
pd.qcut(dataframe.Age, 10, labels=False).unique()

## Correlation

In [ ]:
dataframe.corr()

## Grouping Rows by Values

In [ ]:
dataframe.groupby('Sex').mean()

In [ ]:
dataframe[['Age', 'Sex']].groupby('Sex').agg(['mean', 'std', 'min', 'max', 'count'])

In [ ]:
dataframe[['Age', 'Survived']].groupby('Survived').agg(['mean', 'std', 'min', 'max', 'count'])

In [ ]:
dataframe[['Age',  'Sex', 'Survived']].groupby(['Sex', 'Survived']).agg(['mean', 'std', 'min', 'max', 'count'])

## Grouping Rows by Time

In [ ]:
time_index = pd.date_range('14/06/2019', periods=100000, freq='30S')
time_index

In [ ]:
# Create DataFrame
df = pd.DataFrame(index=time_index)

# Create column of random values
df['Sale_Amount'] = np.random.randint(1, 10, 100000)
df.head()

In [ ]:
df['weekday'] = df.index.weekday
df.head()

In [ ]:
df[['Sale_Amount']].resample('W').sum()

In [ ]:
df[['Sale_Amount']].resample('2W').agg(['mean', 'std'])

You might notice that in the two outputs the datetime index is a date despite the fact that we are grouping by weeks and months, respectively. The reason is because by default resample returns the label of the right “edge” (the last label) of the time group. We can control this behavior using the label parameter:

In [ ]:
df[['Sale_Amount']].resample('2W', label='left').agg(['mean', 'std'])

## Looping Over a Column

In [ ]:
for name in dataframe['Name'][0:5]:
    print(name.upper())

In [ ]:
for row in dataframe.head().itertuples():
    print(row.Name, row.Age)

## Applying a Function Over All Elements in a Column

In [ ]:
# Create function
def uppercase(s):
    return s.upper()

uppercase('rrrtr')

In [ ]:
dataframe.head().Name.map(uppercase)

In [ ]:
dataframe.head()

## Applying a Function to Groups

In [ ]:
df = pd.DataFrame([
    [4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])
df

In [ ]:
df.apply(lambda row: row['a']+row['b']-row['c'], axis=1)

## Concatenating DataFrames

In [ ]:
data_a = {'id': ['1', '2', '3'],
          'first': ['Alex', 'Amy', 'Allen'],
          'last': ['Anderson', 'Ackerman', 'Ali']}
dataframe_a = pd.DataFrame(data_a, columns = ['id', 'first', 'last'])
dataframe_a

In [ ]:
data_b = {'id': ['4', '5', '6'],
          'first': ['Billy', 'Brian', 'Bran'],
          'last': ['Bonder', 'Black', 'Balwner']}
dataframe_b = pd.DataFrame(data_b, columns = ['id', 'first', 'last'])
dataframe_b

In [ ]:
# Concatenate DataFrames by rows
pd.concat([dataframe_a, dataframe_b], axis=0)

In [ ]:
# Concatenate DataFrames by columns
pd.concat([dataframe_a, dataframe_b], axis=1)

## Merging DataFrames

In [ ]:
# Create DataFrame
employee_data = {'employee_id': ['1', '2', '3', '4'],
                 'name': ['Amy Jones', 'Allen Keys', 'Alice Bees',
                 'Tim Horton']}
dataframe_employees = pd.DataFrame(employee_data, columns = ['employee_id', 'name'])
dataframe_employees

In [ ]:
# Create DataFrame
sales_data = {'employee_id': ['3', '4', '5', '6'],
              'total_sales': [23456, 2512, 2345, 1455]}
dataframe_sales = pd.DataFrame(sales_data, columns = ['employee_id', 'total_sales'])
dataframe_sales

In [ ]:
# Merge DataFrames (merge defaults to inner joins)
pd.merge(dataframe_employees, dataframe_sales, on='employee_id')

In [ ]:
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='outer')

In [ ]:
pd.merge(dataframe_employees, dataframe_sales, on='employee_id', how='left')

In [ ]:
pd.merge(dataframe_employees,
         dataframe_sales,
         left_on='employee_id',
         right_on='employee_id')

## Filtering joins

In [ ]:
adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2': [1, 2, 3]})
adf

In [ ]:
bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3': ['T', 'F', 'T']})
bdf

In [ ]:
adf[adf.x1.isin(bdf.x1)]

In [ ]:
adf[~adf.x1.isin(bdf.x1)]

## Reshaping Data – Change the layout of a data set

In [ ]:
dataframe.head(2)

In [ ]:
df = dataframe.groupby(['Sex', 'PClass'])['Survived'].aggregate('mean')
df

In [ ]:
df.unstack()

In [ ]:
df.unstack().dropna(axis=1)

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

In [ ]:
df.melt(id_vars=['bar'], value_vars=['baz', 'zoo'])

In [ ]:
import pandas.util.testing as tm

tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    data = {'value': frame.to_numpy().ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])

df = unpivot(tm.makeTimeDataFrame())
df

In [ ]:
df.pivot(index='date', columns='variable', values='value')

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

In [ ]:
stacked = df.stack()
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack().unstack()

In [ ]:
stacked.unstack().unstack().unstack()

In [ ]:
df = pd.DataFrame({'first': ['John', 'Mary'],
                   'last': ['Doe', 'Bo'],
                   'height': [5.5, 6.0],
                   'weight': [130, 150]})
df

In [ ]:
 df.melt(id_vars=['first', 'last'], var_name='quantity')

## Plot

In [ ]:
x = np.linspace(-2*np.pi, 2*np.pi, 1000);
df = pd.DataFrame(data={'x': x, 'sin(x)': np.sin(x), 'cos(x)': np.cos(x)});
df.plot(x='x');

In [ ]:
ax = dataframe.groupby(['Sex', 'PClass'])['Survived'].aggregate('mean').unstack().dropna(axis=1).plot.bar(rot=0);
ax.set_ylabel('Survival rate');
ax.set_title('Titanic survival rate per sex and class');

In [ ]:
dataframe.Age.plot.hist(bins=30);

In [ ]:
pd.DataFrame(np.random.rand(10000, 2), columns=['x', 'y']).plot.scatter(x='x', y='y', s=2);

## Exercices

https://www.machinelearningplus.com/python/101-pandas-exercises-python/